{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="px-4">
    <div class="bg-gradient-to-r from-green-800 to-green-400 p-6 sm:p-10 rounded-2xl w-full text-white flex items-center justify-between">
        <div class="flex flex-col gap-6">
            <div class="">
                <span class="text-gray-200">Black Friday Sale</span>
                <br>
                <span class="text-gray-200 text-4xl text-white font-semibold">25% off every Product</span>
            </div>
        </div>
    </div>

    <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 text-gray-100" viewBox="0 0 15 15">
            <path fill="currentColor" fill-rule="evenodd"
                d="M4.5 0A2.5 2.5 0 0 0 2 2.5v.286c0 .448.133.865.362 1.214H1.5A1.5 1.5 0 0 0 0 5.5v1A1.5 1.5 0 0 0 1.5 8H7V4h1v4h5.5A1.5 1.5 0 0 0 15 6.5v-1A1.5 1.5 0 0 0 13.5 4h-.862c.229-.349.362-.766.362-1.214V2.5A2.5 2.5 0 0 0 10.5 0c-1.273 0-2.388.68-3 1.696A3.498 3.498 0 0 0 4.5 0ZM8 4h2.786C11.456 4 12 3.456 12 2.786V2.5A1.5 1.5 0 0 0 10.5 1A2.5 2.5 0 0 0 8 3.5V4ZM7 4H4.214C3.544 4 3 3.456 3 2.786V2.5A1.5 1.5 0 0 1 4.5 1A2.5 2.5 0 0 1 7 3.5V4Z"
                clip-rule="evenodd"></path>
            <path fill="currentColor" d="M7 9H1v3.5A2.5 2.5 0 0 0 3.5 15H7V9Zm1 6h3.5a2.5 2.5 0 0 0 2.5-2.5V9H8v6Z">
            </path>
        </svg>
    </div>
    </div>
</section>
<!-- Search, Category Filter, and Add New Item -->
<form action="{% url 'store' %}" method="get" class="relative w-full max-w-xl mx-auto bg-white rounded-full">
    <input placeholder="Search a book title/author" class="rounded-full w-full h-16 bg-transparent py-2 pl-8 pr-32 outline-none border-2 border-gray-100 shadow-md hover:outline-none focus:ring-teal-200 focus:border-teal-200" type="text" name="query" id="query">
    <button type="submit" class="absolute inline-flex items-center h-10 px-4 py-2 text-sm text-white transition duration-150 ease-in-out rounded-full outline-none right-3 top-3 bg-green-800 sm:px-6 sm:text-base sm:font-medium hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
      <svg class="-ml-0.5 sm:-ml-1 mr-2 w-4 h-4 sm:h-5 sm:w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
      </svg>
      Search
    </button>
</form>
<section id="ebooks"
    class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">

    {% for product in products %}
    <div class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a href="{% url 'product_detail' product.id %}">
            <img src="{{ product.imageURL | default:'https://via.placeholder.com/100' }}"
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
            <div class="px-4 py-3 w-72">
                <span class="text-gray-400 mr-3 uppercase text-xs">{{product.author}}</span>
                <p class="text-lg font-bold text-black truncate block capitalize">{{product.name}}</p>
                <div class="flex items-center justify-between">
                    <a href="#" class="text-lg font-semibold text-black cursor-auto my-3">USD {{ product.price }}</a>
					<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart flex items-center space-x-2 bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-600">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
							<path d="M16 11H4a1 1 0 010-2h12a1 1 0 010 2z" />
						</svg>
						<span>Add to Cart</span>
					</button>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
    {% if not products %}
        <div class="mt-6 text-center">
            <p class="text-gray-600">No eBooks found.</p>
        </div>
    {% endif %}
</section>
<!-- Pagination -->
<div class="flex items-center justify-center py-8 space-x-2">
    {% if products.has_previous %}
    <a href="?page=1"
        class="h-10 w-10 bg-gray-300 font-semibold text-gray-700 text-sm flex items-center justify-center">1
    </a>
    {% endif %}
    {% for num in products.paginator.page_range %}
    {% if products.number == num %}
    <a href="#" class="h-10 w-10 bg-blue-600 text-white font-semibold text-sm flex items-center justify-center">{{ num }}</a>
    {% else %}
    <a href="?page={{ num }}"
        class="h-10 w-10 bg-gray-300 text-gray-700 font-semibold text-sm flex items-center justify-center hover:bg-blue-600 hover:text-white">{{ num }}</a>
    {% endif %}
    {% endfor %}
    {% if products.has_next %}
    <a href="?page={{ products.paginator.num_pages }}"
        class="h-10 w-10 bg-gray-300 text-gray-700 font-semibold text-sm flex items-center justify-center hover:bg-blue-600 hover:text-white">Next</a>
    {% endif %}
</div>
{% endblock content %}
